body {
    margin: 0;
}

/*LINKS ANIMATION*/
/* inspired by this codepen: https://codepen.io/jstn/pen/zuDst*/
a {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
/*    position: relative;*/
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

a.currentProjLink {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a.currentProjLink:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
/*    position: relative;*/
    background: #FFFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.currentProjLink:hover:after {
    width: 100%;
    left: 0;
}


/*TITLES*/
.title {

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 6vw;
    font-size: 20px;
    width: 50%;
    height: 25%;
    margin: 10px;
    padding: 5px;
    border: 10px;


}


.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    float: right;
    width: 50%;
    height: 50%;
    padding-bottom: 5px;
}


/*NAVBAR CONTAINER*/
.container {
    background: #94BBD7;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
    flex-wrap: nowrap;
}

/*NAVBAR*/
.menu-bar li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    float: right;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    position: relative;
    background: #94BBD7;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

}

.menu-bar {
    flex-wrap: nowrap;
}

.one {
    height: 30px;
    background: white;

}

.two {
    height: 30px;
    background: white;

}

.three {
    height: 30px;
    background: white;

}

.four {
    height: 30px;
    background: white;

}


/*LOGO*/
.logo {
    float: left;
    font-size: 5vw;
}

/*RESPONSIVE*/
@media screen and (min-width: 880px) {
    div.menu-bar ul li a {
        font-size: 30px;
    }
}

@media screen and (max-width: 879px) {
    div.menu-bar ul li a {
        font-size: 20px;
    }
}

@media screen and (min-width: 880px) {
    div.title {
        font-size: 62px;
    }
}

@media screen and (max-width: 879px) {
    div.title {
        font-size: 40px;
    }
}
@media screen and (max-width: 400px) {
    div.title {
        font-size: 40px;
    }
      div.menu-bar li {
        font-size: 40px;
        padding-left: 5px;
    }
}


/*

----------------------------------HOME PAGE---------------------------------------
*/
#home-bg{
    background: black;
}
.intro {

    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;

    background-image: url("images/sinosoidal1.png");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    text-align: center;



}

/* TOP PART*/
.blurbs {
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    /*    text-align: center;*/
    flex-wrap: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
    max-height: 250px;
    box-shadow: 20px 20px 20px grey;
}

.blurb1 {
    display: flex;
    flex-direction: row-reverse;
    background: white;
    width: 33.3%;
    padding: 10px;

}

.blurbtext1 {
    padding: 10px;
}

.img1 {
    object-fit: contain;
    width: 100%;
    height: 100%;


}

.blurb2 {
    background: #A5868B;
    color: white;
    width: 33.3%;
    padding-bottom: 20px;
    padding-top: -15px;

}
.blurbtext2 {
    padding: 0px;
    margin:5px;
}

.blurb3 {
    background: white;
    width: 33.3%;
    padding: 10px;

}

/*BIO*/
.short-bio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
/*    align-items: flex-end;*/
    width:80%;
    padding:30px;


}
@media screen and (max-width: 600px) {

    .short-bio{
     display: flex;
     flex-direction: column;
     justify-content: center;
    
    }
}

.profileimg1 {
    border: 10px solid white;
    border-radius: 20px;
/*
    max-height: 100;
    max-width: 100;
*/
    margin-top:150px;
    margin-left:24px;
    resize:both;
    flex-shrink: 2;
}
@media screen and (max-width: 600px) {

    .profileimg1{
    margin-top:10px;
    margin-left:24px;
    resize:both;
    flex-shrink: 2
    }
}

.short-bio-text {
/*    object-fit: contain;*/
    resize: vertical;
    background: white;
    border-radius: 20px;
    margin-top:50px;
    padding: 15px;
/*    max-height: 250px;*/
    flex-shrink: 4;
    flex-wrap: wrap;
    font-size: 2vw;
    line-height: 1.2;
    text-align: left;
    margin-top: 250px;
}
@media screen and (max-width: 600px) {

    .short-bio-text{
    margin-top:40px;
    margin-left:24px;
    resize:both;
    flex-shrink: 2
    }
}

/*
----------------------------------GALLERY PAGE---------------------------------------
*/
#toptext {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.gallery {
    margin: 30px;
    display: flex;
    flex-direction: row;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.img-show {
    object-fit: contain;
}

.overlay {
    object-fit: contain;
}

.gallery .img_large {
    background: #D4D28F;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    flex-shrink: 1;
    object-fit: contain;
    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.4s ease-in-out;
    text-align: center;
    align-items: center;

}

.gallery .img_large:hover {
    box-shadow: 0px 10px 20px grey;
}

.gallery .img_small {
    background: #A5868B;
/*    border-width: 20px;*/
    border-radius: 30px;
    width: 200px;
    height: 200px;
    padding:10px;
    flex-shrink: 1;
    margin-top: 20px;
    object-fit: contain;
    align-items: center;
    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.4s ease-in-out;
    text-align: center;
}

.gallery .img_small:hover {
    box-shadow: 0px 10px 20px grey;
}

.gallerysecond {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    margin: 20px;
    object-fit: contain;
    align-items: center;

    text-align: center;
}

.gallerysecond .img_large {
    background: #78844B;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    padding:20px;
    margin: 20px;
    flex-shrink: 1;
    object-fit: contain;
    align-items: center;
    text-align: center;

    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.4s ease-in-out;
}

.gallerysecond .img_large:hover {
    box-shadow: 0px 10px 20px grey;
}

.gallerysecond .img_small {
    background: #855737;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    padding: 10px;
    flex-shrink: 1;
    margin-top: 20px;
    object-fit: contain;
    align-items: center;
    text-align: center;

    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.4s ease-in-out;
}


.gallerysecond .img_small:hover {
    box-shadow: 0px 10px 20px grey;
}


.gallery1text {
    text-align: center;
}


.gallery2text {
    text-align: center;
}


.gallery3text {
    text-align: center;
}


.gallery4text {
    text-align: center;
}

.gallery5text {
    text-align: center;
}

.gallery6text {
    text-align: center;
}

#sinusoidal-sketch-holder {
    background: #78844B;
    border-width: 20px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 20px;
    flex-shrink: 1;
    /* object-fit: contain;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    box-shadow: 0px 0px 0px grey;
    transition: box-shadow 0.4s ease-in-out;
}

#sinusoidal-sketch-holder:hover {
    box-shadow: 0px 10px 20px grey;
}

/*----------------------------------ABOUT PAGE---------------------------------------*/

/*ABOUT IMAGE*/
.about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#sketch-div {
/*
    background: #A5868B;
    border-radius: 30px;
    width: 60%;
    height: 100%;
    float: right;
    margin: 10px;
*/
    /* flex-wrap: nowrap;*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
}

/*ABOUT TEXT*/
.about-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 18px;
    text-decoration: none;
    background: white;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    max-height: 400px;
    flex-shrink: 2;
    flex-wrap: wrap;
    font-size: 2vw;
    line-height: 1.2;
    box-shadow: 0px 10px 20px grey;
    width: 80%;
/*    height: 50%;*/
}

/*

----------------------------------CONTACT PAGE---------------------------------------*/
/* I used this W3 schools article to learn this way of making a form: https://www.w3schools.com/howto/howto_css_contact_form.asp*/
.contact {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin: 20px;
}

.contact-form {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #78844B;
    border-radius: 30px;
    padding: 20px;
    width: 50%;
    text-align: left;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: darkgrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}


input[type=submit]:hover {
    background-color: #D4D28F;
}

.contact-info {
    font-family: 'Josefin Sans', sans-serif;
    background: #855737;
    border-radius: 30px;
    padding: 20px;
    width: 50%;
    height: 50%;
    max-width: 200px;
    text-align: left;
    margin: 20px;
    float: top;
}
#linkedin-link{
     background: #94BBD7;
    border-radius: 20px;
    display: flex;
    /*    position:absolute;*/
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
    max-height: 250px;
    box-shadow: 5px 5px 8px black;
    padding: 5px;
}
#github-link {
    background: #D4D28F;
    border-radius: 20px;
    display: flex;
    /*    position:absolute;*/
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
    max-height: 250px;
    box-shadow: 5px 5px 8px black;
    padding: 5px;
    margin-bottom: 20px;

}

#icon-img {
    float: right;
}

/*GALLERY POP UPS*/
/*inspired by this CodePen by Sudhakar J: https://codepen.io/SudhakarJ/pen/vYENazW*/
.popup {
    width: 900px;
    margin: auto;
    text-align: center
}

.popup img {
    width: 200px;
    height: 200px;
    cursor: pointer
}

.show {
    z-index: 2000;
    display: none;
}

.show .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .66);
    position: fixed;
    top: 0;
    left: 0;
}

.show .img-show {
    width: 600px;
    height: 400px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden object-fit: contain;
}

.img-show span {
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    object-fit: contain;
}

.img-show img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    z-index: 10000;
    top: 0;
    left: 0;
}

//----CONTACT--LANDING--PAGE----------

.landing-page {
    background-image: url("images/ryoichi_bg.jpg");
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px;
    width: 50%;
    height: 50%;
    max-width: 200px;
    text-align: left;
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: top;
    margin: 15px;
}

.thanks {
    font-family: 'Josefin Sans', sans-serif;
    background: #855737;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 16px;
    text-align: center;
    padding: 20px;
}

#back-button {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #78844B;
    border-radius: 30px;
    padding: 20px;
    width: 25%;
    text-align: left;
}
